#!/bin/bash
#===============================================================================
#
#         FILE:  {{ scriptname }}
#
#        USAGE:  {{ scriptname }}
#
#  DESCRIPTION:  {{ description }}
#
#      OPTIONS:  ---
# REQUIREMENTS:  ---
#         BUGS:  ---
#        NOTES:  ---
#       AUTHOR:  {{ user }} ({{ username }}), {{ mailaddress }}
#      COMPANY:  {{ company }}
#      CREATED:  {{ now | strftime("%Y-%m-%d") }}
#
# Copyright (C) {{ now | strftime("%Y") }} {{ copyright }}
#
#===============================================================================
readonly C_SCRIPTPATH="$(readlink -f $0)"
readonly C_SCRIPTNAME="$(basename $C_SCRIPTPATH .sh)"
readonly C_SCRIPTDIR="$(dirname $C_SCRIPTPATH)"
readonly C_FACILITY="local0"
declare -xr LANG="C"

function logging()
{
  local priority="$1"; shift
  logger -p ${C_FACILITY}.${priority} -i -s -t "${C_SCRIPTNAME}" -- "${priority} $@"
}

function logging_err()   { logging "err" "$@";   }
function logging_info()  { logging "info" "$@";  }
function logging_warn()  { logging "warn" "$@";  }
function logging_debug() { logging "debug" "$@"; }

function script_exit()
{
  local string="$1"
  local lineno="$2"
  local retv="$3"

  [[ -z "${retv}" ]] && retv="0"

  if [[ "$retv" = "0" ]]
  then
    logging_info "$string"
  else
    logging_err "$string"
  fi
  exit $retv
}

function pathmunge()
{
  [ -d "$1" ] || return

  if echo $PATH | grep -E -q "(^|:)$1($|:)"
  then
    return
  fi

  if [ "$2" = "after" ]
  then
      PATH=$PATH:$1
  else
      PATH=$1:$PATH
  fi
}

#------------------------------------------------------------------------------#
#                                    Main                                      #
#------------------------------------------------------------------------------#

logging_info "start"

# setup path
#---------------------------------------
pathmunge "${HOME}/bin" "after"
export PATH


script_exit "end"
#------------------------------------------------------------------------------#
#                                  The End                                     #
#------------------------------------------------------------------------------#
