//          FILE:  {{ scriptname }}
// 
//         USAGE:  {{ scriptname }}
// 
//   DESCRIPTION:  {{ description }}
// 
//       OPTIONS:  ---
//  REQUIREMENTS:  ---
//          BUGS:  ---
//         NOTES:  ---
//        AUTHOR:  {{ user }} ({{ username }}), {{ mailaddress }}
//       COMPANY:  {{ company }}
//       CREATED:  {{ now | strftime("%Y-%m-%d") }}
//
// Copyright (C) {{ now | strftime("%Y") }} {{ copyright }}
//
package main

import (
    "fmt"
)

func main() {
	fmt.Print("Hello World\n")

}
// vim: noexpandtab filetype=go
