---
#===============================================================================
#
#         FILE:  {{ scriptname }}
#
#        USAGE:  {{ scriptname }}
#
#  DESCRIPTION:  {{ description }}
#
#       AUTHOR:  {{ user }} ({{ username }}), {{ mailaddress }}
#
#      CREATED:  {{ now | strftime("%Y-%m-%d") }}
#
#===============================================================================
- name: {{ description }}
  hosts: all



...
